.P-login
  position: absolute
  top: 0
  bottom: 0
  width: 100%
  background-image: url("/common/image/img.png")
  background-position: center center
  background-repeat: no-repeat
  background-attachment: fixed
  background-size: cover
  .logo
    display: block
    margin: 50px auto 20px
    width: 100px
    height :80px
  .ipt-con
    margin: 0 auto 20px
    width: 400px
    text-align: center

