.M-header
  height: 80px
  line-height: 40px
  font-size: 36px
  color: #020202
  background: #497BB1
  margin-bottom :10px
  //#1e80ff
.M-logo {
  width : 100px
  float: left
  margin-left: 20px
  margin-top: 20px
  font-size: 36px
  color: #020202
  text-decoration: none}

.M-menu {
  float: right
  margin-right: 20px
  margin-top: 20px
  color:#fff
  background :#497BB1
}